{% extends 'base.html' %}
  <script type="text/javascript">
  $(document).ready(function() {
  mobj = {};
  mobj.updateTasks = function() {
    $.get('/updateTasks', function(result) {
      console.log("received updated results from server");
      var TaskDisplay = document.getElementById('TaskDisplay');
      TaskDisplay.innerHTML = result;
    })
  }
  mobj.newTask = function() {
    console.log("Sending new task");
    var newTaskContent = document.getElementById('EnterTask').value;
    if ($.post('/newtask', {
      'newTaskContent': newTaskContent
    }, 'JSON')) {
      mobj.updateTasks();
    } else {
      console.log('Post failed')
    }
  }
  var UploadTask = document.getElementById("UploadTask");
  UploadTask.addEventListener('click', mobj.newTask);
})
  </script>
</head>
<div id="content">


{% for tasklist, tasks in task_data %}
<h2>{{ tasklist.title }} </h2>
{% for task in tasks %}
<div id="{{ task.id }}">
{{ task.content }}
</div>
<br />
{% endfor %}
{% endfor %}
</div>


</html>