{% extends 'base.html' %}
{% block main %}
  <script type="text/javascript">
  $(document).ready(function() {
  mobj = {}; //for scoping

  mobj.addTasklist = function() {
    console.log("Sending new tasklist");
    newTasklistTitle = document.getElementById("add-tasklist-title").value;
    newTasklistPriorityValue = document.getElementById("add-tasklist-title").value;
    newTasklistPriority = (newTasklistPriorityValue) ? newTasklistPriorityValue : 0;
    console.log('vars worked')
    if ($.post('/createtasklist', {
      'newTasklistTitle' : newTasklistTitle,
      'newTasklistPriority' : newTasklistPriority
    }, 'JSON')) {
      mobj.updateTasklists();
    } else {
      console.log('Adding new tasklist failed')
    }
  }
    
  mobj.updateTasklists = function() {
      $.get('/updatetasklists', function(result) {
      console.log("received updated tasklists from server");
      tasklists = JSON.parse(result)
      var list_of_tasklists = document.createElement('div');
      for (tasklistNumber in tasklists) {
        tasklist = tasklists[tasklistNumber];
        var thisdiv = document.createElement('div');
        var taskTitle = document.createElement('span');
        var taskPriorty = document.createElement('span');
        thisdiv.id = "tasklist" + tasklist['tasklistID'];
        taskTitle.innerHTML = tasklist['tasklistTitle'];
        taskPriorty.innerHTML = tasklist['tasklistPriority'];
        // if (tasklist['archived'] === 'true'){
        //   console.log('this is archived'); //do something if the tasklist is archived
        // }
        thisdiv.appendChild(taskTitle);
        thisdiv.appendChild(taskPriorty);
        list_of_tasklists.appendChild(thisdiv)
      }
      console.log('the list of tasklists looks like: ' + list_of_tasklists)
      var tasklists = document.getElementById('tasklists');
      tasklists.appendChild(list_of_tasklists);
    })
  }


  // mobj.updateTasks = function() {
  //   $.get('/updateTasks', function(result) {
  //     console.log("received updated results from server");
  //     var TaskDisplay = document.getElementById('TaskDisplay');
  //     TaskDisplay.innerHTML = result;
  //   })
  // }
  // mobj.newTask = function() {
  //   console.log("Sending new task");
  //   var newTaskContent = document.getElementById('EnterTask').value;
  //   if ($.post('/newtask', {
  //     'newTaskContent': newTaskContent
  //   }, 'JSON')) {
  //     mobj.updateTasks();
  //   } else {
  //     console.log('Post failed');
  //   }
  // }
  //var UploadTask = document.getElementById("UploadTask");
  //UploadTask.addEventListener('click', mobj.newTask);
  var createTasklistButton = document.getElementById("add-tasklist-submit");
  createTasklistButton.addEventListener('click',mobj.addTasklist);
})
  </script>

<div id="tasklists">
  {% for tasklist in task_data.keys() %}
    <h2>{{ tasklist.title }} </h2>
    {% for task in task_data[tasklist.id] %}
    <id id="{{ task.id }}">
    {{ task.content }}
    </div>
    <br />
    {% endfor %}
  {% endfor %}
</div>
<div id="add-tasklist">
  <span> Name a new tasklist!! </span>
  <input id="add-tasklist-title" type="text"  />
  <span> Give it a priority if you want!! </span>
  <input id="add-tasklist-priority" type="text" />
  <input id="add-tasklist-submit" type="button" value="  Add new tasklist!!  " />
</div>
<div id="add-task">

</div>

{% endblock %}