{% extends 'base.html' %}
{% block main %}
<div id="login-content" style="padding-left: 20px;" >
	<form action="/login" method="POST">
		<span> Username! </span> 
		<br /> 
		<input type="text" name="username" /> <br />
		<span> Password! </span> 
		<br /> 
		<input type="password" name="password"/> <br />
		<input type="submit" value="Log Me In!!" />
	</form>		
</div>
<div id="create-account-content" style="padding-left: 20px">
<h2> New here? Make an account! </h2><br />
	<form action="/newaccount" method="POST">
		<span> Email! </span>
		 <br /> 
		 <input type="text" name="email" /><br />
		<span> Username! </span>
		 <br /> 
		 <input type="text" name="username" /> <br />
		<span> Password! </span>
		 <br /> 
		<input type="password" name="password"/> <br />
		 <input type="submit" value="Gimme an Account!" />
	</form>
</div>
{% endblock %}
