<html>
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet/less" href="/static/css/main.less">
  {% block css %}{% endblock %}

  <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.1.5/less-1.1.5.min.js"></script>
  <script>window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script>
<title>Tasky</title>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function (){
  mobj = {};

 

  mobj.updateTasks = function(){
    $.get('/updateTasks',function(result){
      console.log("received updated results from server");
      var TaskDisplay = document.getElementById('TaskDisplay');
      TaskDisplay.innerHTML = result;
  }
  )}

    mobj.newTask = function(){
    console.log("Sending new task");
    var newTaskContent = document.getElementById('EnterTask').value;
    
    if($.post('/newtask',{'newTaskContent': newTaskContent}, 'JSON')){
      mobj.updateTasks();
      }
    else
      {
      console.log('Post failed')
    }
  }
  var UploadTask = document.getElementById("UploadTask");
  UploadTask.addEventListener('click',mobj.newTask);
}
)
  </script>

</head>
Hello, World! The time is {{ now }}. Please enter your task below:
<br />

<input type="text" id="EnterTask" />
<input type="button" id="UploadTask" value="  Add Task  " />
<div id="TaskDisplay">

</div>

</html>